		
		.fondo{

			background-image: url("file:///C:/Users/pupil/OneDrive/Escritorio/Portfolioweb/images/Fondos-01.png");
			background-size: 100%;
			height: 690px;
		}	

				a{
			color: black;
		}


		#whapp{
			padding-right: : 15px;
		}

		#boton1{
			font-family: 'Montserrat', sans-serif;
			width: 277px;
			height: 45px;

		}

		h1{
			font-size: 90px;
			line-height: 1;

		}

		.patro{
			line-height: 0;
		}

		h5{
			letter-spacing: 3px;
		}